<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <div class="form-body p-4">
       
        <% if @user.errors.any? %>
          <%= @user.errors.count %>errors prohibited this obj from being saved:
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %> 
        
        <%= form_with model: @user, local: true do |f| %>
          
          <div class = "field">
            <p>Name</p>
              <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName" %>
          </div>
          
          <div class="field">
            <p>image</p>
              <label>
                <%= f.file_field :profile_image, accept: "image" %>
              </label>
          </div>

          <div class = "field">
            <p>Introduction</p>
              <%= f.text_area :introduction %>
          </div>
         
           <div class ="actions">
            <%= f.submit "Update User", class:"btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
