<div class="container">
   <div class="row">
      <%= render 'new', book: @book, user: @user %>

        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
            <table class="table">
              <tbody>
  
                <tr>
                  <td>
                    <%= image_tag @user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %><br>
                      <%= link_to books_path(@book) do %>
                       <%= @user.name %>
                      <% end %>
                  </td>
            
                  <td>
                    <%= link_to books_path(@book) do %>
                     <%= @book.title %>
                    <% end %>
                  </td>
                  <td><%= @book.body %></td>
              
                  <td>
                    <% if @book == current_user %>
                      <%= link_to "Edit", edit_book_path %>
                    <% end %>
                  </td>
                 
                  <td>
                   <% if @book == current_user %>
                     <%= link_to "Destroy", book_path, method: :delete %>
                   <% end %>
                  </td>
                </tr>
    
              </tbody>
            </table>
       </div>
       
  </div>
</div>